# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Packaging / build
*.egg-info/
build/
dist/

# Keep data/processed folder, ignore its contents
data/processed/*
!data/processed/.gitkeep

# OS files
.DS_Store
Thumbs.db